@import '@fontsource-variable/comfortaa';
@import '@fontsource-variable/playfair-display';
@import '@fontsource/permanent-marker';

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
